<!DOCTYPE html>
<html>
<header>
HEllo
</header>
<body>
<table class='table table-bordered'>
         <tr>
            <th>Course ID</th><th>Course Name</th><th>Credits Received</th>
         </tr>

         <% for (var i = 0; i < course.length; i++) { %>
          <tr>
            <td><%= course[i].course_name %></td>
            <td><%= course[i].type %></td>
            <td><%= course[i].Tut %></td>
            <td><%= course[i].days %></td>
            <td><%= course[i].type %></td>
            <td><%= course[i].start %></td>
            <td><%= course[i].end %></td>
            <td><%= course[i].room %></td>
            <td><%= course[i].semester %></td>
          </tr>    
         <% } %>
      </table>             
</body>
</html>
