  <h1>Remove Course</h1> <br/>
			  <table border=1>

				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Section</th>
					<th>Days</th>
					<th>Start time</th>
					<th>End time</th>
					<th>Room</th>
					<th>Semester</th>
					<th>Remove</th>
				</tr>
				
			<% for (var i = 0; i < course.length; i++) { %>
         <tr>
          <form role="form" method="post" action="/removeCourse">
            <td name="course_name"><%= course[i].course_name %></td>
            <td name="course_type"><%= course[i].type %></td>
            <td name="course_section"><%= course[i].Tut %></td>
            <td name="course_days"><%= course[i].days %></td>
            <td name="course_start_time"><%= course[i].start %></td>
            <td name="course_end_time"><%= course[i].end %></td>
            <td name="course_room"><%= course[i].room %></td>
            <td name="course_semester"><%= course[i].semester %></td>
            <td><button type="submit" id="remove" onclick="DeleteRowFunction(this);"> Remove Course </button> </td>
           <form>
          </tr>    
 			<% } %>
			</table>
            </div>

            <script>

    		function DeleteRowFunction(o) {
    		 var p=o.parentNode.parentNode;
        	 p.parentNode.removeChild(p);
   			 }


   			</script>